<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaterMeters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <WaterMeters.Properties.Settings>
            <setting name="EventHubPolicyName" serializeAs="String">
                <value>********</value>
            </setting>
            <setting name="EventHubPolicyKey" serializeAs="String">
                <value>********</value>
            </setting>
            <setting name="EventHubNamespace" serializeAs="String">
                <value>********</value>
            </setting>
            <setting name="EventHubName" serializeAs="String">
                <value>********</value>
            </setting>
            <setting name="EventHubPartitionCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SqlAzureConnectionString" serializeAs="String">
                <value>Server=tcp:********.database.windows.net,1433;Data Source=********.database.windows.net;Initial Catalog=personalDB;Persist Security Info=False;User ID=********;Password=********;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
            <setting name="StorageConnection" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=********;AccountKey=********</value>
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>********</value>
            </setting>
        </WaterMeters.Properties.Settings>
    </applicationSettings>
</configuration>